body {
  background: #ffffff;
}

.select2-container .select2-dropdown {
    background-color: #E8EDF2; /* Replace with your desired color */
  
}

/* Change background color of options in the dropdown */
.select2-container .select2-results__options {
    background-color: #E8EDF2; /* Replace with your desired color */
}

/* Optional: Change background color of the selected item area */
.select2-container .select2-selection {
    background-color: #E0F2FF; /* Replace with your desired color */
}

#modedemploi {
  background: #ffffff;
  margin-left: 1em;
  margin-bottom: 1em;
  min-width: 50%;

}

#intromodedemploi {
  margin-left: 1.2em;
  font-family: "Noto Sans Display", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.3rem;
  color: #000000;
}

#selCountry {
  padding: 0.5rem;
  margin-bottom: 2px;
  margin-left: 25px;
  border: none;
  background-color: #ffffff;
  border-radius: 5px;
}


#country_dropdown {
  margin: 1px 0 1px 0;
  padding: 0.5rem;
  width: 100%;
  font-family: "Noto Sans Display", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.25rem;
  color: #586179;
  text-align: center;
  letter-spacing: normal;
  vertical-align: baseline;
  cursor: pointer;
  /**#c3d1da;**/
  border: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.dropdown_text {
  display: inline-block;
  margin-left: 5px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 100;
  font-size: 1.2rem;
  color: #586179;
  text-align: start;
  padding: 7px 25px 7px 0;
}



.chartPic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 750px;
}

@media only screen and (max-width: 600px) {
  table {
    min-width: 500px;
    overflow-x: auto;
  }
}
