body {
  background: #ffffff;
}

.select2-container .select2-dropdown {
    background-color: #E8EDF2; /* Replace with your desired color */
  
}
.my-custom-class {
    background-color: #E8EDF2; /* Replace with your desired color */
  width:100%;
  
}
/* Change background color of options in the dropdown */
.select2-container .select2-results__options {
    background-color: #E8EDF2; /* Replace with your desired color */
}

/* Optional: Change background color of the selected item area */
.select2-container .select2-selection {
    background-color: #E0F2FF; /* Replace with your desired color */
}

#modedemploi {
  background: #ffffff;
  margin-left: 1em;
  margin-bottom: 1em;
  min-width: 50%;

}

#intromodedemploi {
  margin-left: 1.2em;
  font-family: "Noto Sans Display", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.3rem;
  color: #000000;
}

#selCountry {
  padding: 0.5rem;
  margin-bottom: 2px;
  margin-left: 25px;
  border: none;
  background-color: #ffffff;
  border-radius: 5px;
}


#country_dropdown {
  margin: 1px 0 1px 0;
  padding: 0.5rem;
  width: 100%;
  background-color: #E8EDF2;
  font-family: "Noto Sans Display", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  color: #586179;
  text-align: left;
  letter-spacing: normal;
  vertical-align: baseline;
  cursor: pointer;
  /**#c3d1da;**/
  border: none;
  border-radius:3px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  min-height:48px;
}

.dropdown_text {
  display: inline-block;
  margin-left: 5px;
  font-family: 'Noto Sans Display', sans-serif;
  font-weight: 100;
  font-size: 1.2rem;
  color: #586179;
  text-align: start;
  padding: 7px 25px 7px 0;
}



.chartPic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 650px;
}

.overlay {
position: fixed; /* Ensures the overlay stays in place relative to the screen */
    bottom: 0;       /* Anchors the overlay to the bottom of the screen */
    left: 0;
    width: 100%;     /* Spans the full width of the screen */
    height: 50%;     /* Covers the bottom half of the screen */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    color: white;
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center;     /* Centers content vertically */
    font-size: 1.2em;        /* Adjusts font size */
    z-index: 9999;           /* Ensures the overlay appears on top of other elements */
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3); /* Adds a slight shadow for depth */
}
    .container:hover .overlay {
      opacity: 1;
    }
    .overlay a {
      color: white;
      text-decoration: underline;
    }
@media only screen and (max-width: 600px) {
  table {
    min-width: 500px;
    overflow-x: auto;
  }
}
