body {
  background: #ffffff;
}

#modedemploi {
  background: #FFFFFF;
  margin-left: 1em;
  margin-bottom: 1em;
  display: flex;
  min-width: 50%;

}

#intromodedemploi {
  margin-left: 1.2em;
  font-family: "Noto Sans Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1.3rem;
  font-weight: 700;
  color: #ffffff;
}

#selCountry {
  padding: 0.5rem;
  margin-bottom: 2px;
  margin-left: 25px;
  border: solid;
  border-width: 0px;
  border-color: #E8EDF2;
  background-color: #E8EDF2;
  border-radius: 5px;
}


#country_dropdown {
  margin: 5px 5px 5px 5px;
  padding: 0.5rem;
  max-width: 250px;
  display: inline;
  font-family: "Noto Sans Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1.25rem;
  color: #E8EDF2;
  text-align: center;
  letter-spacing: normal;
  vertical-align: baseline;
  cursor: pointer;
  text-shadow: rgba(0, 0, 0, 0) 0 0px 0;
  background-color: #E8EDF2;
  /**#c3d1da;**/
  border: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.dropdown_text {
  display: inline-block;
  margin-left: 5px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 100;
  font-size: 1.2rem;
  color: #ffffff;
  text-align: start;
  padding: 7px 25px 7px 0px;
}



.chartPic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 750px;
}

@media only screen and (max-width: 600px) {
  table {
    min-width: 500px;
    overflow-x: auto;
  }
}
